 <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">

                        <h3>Questions OR Concerns</h3>
                        <ul>
                            <li><a href="#">Delivery & Returns</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <!-- <li><a href="#">Back to Site</a></li> -->
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Swap Inc.</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Swap Inc.</h3>
                        <p style="text-align: justify;">Swap is an online shopping store that features best products at affordable prices. Swap online shopping located in bangladesh that promises fast, reliable and convenient delivery of products to your doorstep through world wide shipping. Swap aims to make online shopping accessible to all parts of the world.</p>


                    </div>
                    <div class="col item">
                     <!--  <p class="text-center">Get In Touch </p> -->
                    <div class="col item social mt-2"><p class="text-center">Get In Touch </p><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a><a href="#"><i class="icon ion-social-pinterest"></i></a>
                      
                    </div>
                  </div>

                </div>
                <hr style=" border-top: 1px solid #696969;">
                <div class="row">
                  <div class="col-6">
                  <p >© 2020 <a style='color: white;' href="/">Swap Inc</a>. Developed by <a href="https://github.com/Shahibur66" style='color: white;' target="_blank" >Shahibur Rahman</a>.
                  </p>
                  </div>
                  <div class="col-6">
                  <i class='fab fa-cc-stripe' style='font-size:30px; margin-left: 8px;'></i>
                  <i class='fab fa-cc-visa' style='font-size:30px; margin-left: 8px;'></i>
                  <i class='fab fa-cc-mastercard' style='font-size:30px; margin-left: 8px;'></i>
                  <i class='fab fa-cc-discover' style='font-size:30px; margin-left: 8px;'></i>
                  <i class='fab fa-cc-amex' style='font-size:30px; margin-left: 8px;'></i>
                  <i class='fab fa-bitcoin' style='font-size:30px; margin-left: 8px;'></i>
                  <i class='fab fa-cc-paypal' style='font-size:30px; margin-left: 8px;'></i></div>
                </div>

<!--                  <div class="col-md-6 item">

                  <i><p class="copyright" >© 2020 Swap Inc. Developed by Shahibur Rahman.</p></li></i>

                  <i class='fab fa-cc-stripe' style='font-size:36px'></i>
                  <i class='fab fa-cc-visa' style='font-size:36px'></i>
                  <i class='fab fa-cc-mastercard' style='font-size:36px'></i>
                  <i class='fab fa-cc-discover' style='font-size:36px'></i>
                  <i class='fab fa-cc-amex' style='font-size:36px'></i>
                  <i class='fab fa-bitcoin' style='font-size:36px'></i>
                  <i class='fab fa-cc-paypal' style='font-size:36px'></i>

                 </div> -->

            </div>
        </footer>
    </div>