{% extends "admin/layout.html" %}

{% block head %}


    <title>Swap Admin Panel</title>

    <!-- Core Css -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/datatables.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/line-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/jquery.mCustomScrollbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap-select.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap-slider.css')}}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.min.css')}}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock head %}

{% block content %}




    <!-- ########## START: MAIN PANEL ########## -->
    <section class="mainpanel">
        <div class="pagebody">
            <!----======= Start UI elememnts =======---->
            <!--             <div class="pagetitle">
                <h4>UI elememnts</h4>

                    <ul class="buuton-group mt-3">
                       <li><button type="button" class="btn btn-secondary waves-effect waves-light">All Product</button>
                        </li>
                         <li><button type="button" class="btn btn-secondary waves-effect waves-light">Bands</button>
                        </li>
                         <li><button type="button" class="btn btn-secondary waves-effect waves-light">Categories</button>
                        </li>

                    </ul>


            </div> -->
            <!-- Start Radio Button -->
            <div class="card mb-5 mt-4">
                 {% include "_messages.html" %}
                <div class="card-header py-4">

                <h4 class="text-secondary font-weight-bold mb-0 mt-1
                     ml-3">Orders
                </h4>
                </div>
            </div>
            <!-- End Radio Button -->
            <!-- Start Checkbox Button -->
            <div class="card mb-5 mt-4">

                <div class="card-body">

                {% if orders %}

                <table class="table table-sm table-condensed table-striped table-hover mt-3"
                style="table-layout: fixed; word-wrap: break-word;">
                    {% include '_messages.html' %}
                    <thead class="table-theme-bg">
                        <th style="font-size: 16px;">ID</th>
                        <th style="font-size: 16px;">Buyer Name</th>
                        <th style="font-size: 16px;">Product Name</th>
                        <th style="font-size: 16px;">Product Detail</th>
                        <th style="font-size: 16px;">Quantity</th>
                        <th style="font-size: 16px;">Contact</th>
                        <th style="font-size: 16px;">Address</th>
                        <th style="font-size: 16px;">Status</th>
                        <th style="font-size: 16px;">Payment Method</th>
                        <th style="font-size: 16px;">Ordered</th>
                        <th style="font-size: 16px; ">Delivered</th>
                       <!--  <th style="font-size: 16px;">Delivery Time</th> -->
                        <th style="font-size: 16px; ">Modify</th>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                    <tbody>
                        <tr>
                            <td>{{loop.index}}</td>
                            <td >{{order.customer_name}}</td>
                            <td >{{order.product_name}}</td>
                            <td >{{order.product_detail}}</td>
                            <td >{{order.product_quantity}}</td>
                            <td >{{order.contact}}</td>
                            <td >{{order.zipcode}},{{order.city}},
                                {{order.country}}
                            </td>
                            <td >{{order.status}}</td>
                            <td >{{order.payment_method}}</td>
                            <td >{{order.order_date}}</td>
                            <td>
                                {% if order.product_delivered == 'True' %}
                                    <p style="font-size: 10px; margin-right: 6px;" class=" p-1 mb-1 mt-1 ml-3 mr-3 bg-primary text-white text-center rounded">Complete</p>

                                {% elif order.product_cancel %}
                                    <p style="font-size: 10px; margin-right: 6px;" class=" p-1 mb-1 mt-1 ml-3 mr-3 bg-dark text-white text-center rounded">Cancelled</p>     

                                 <!-- <span class="badge badge-complete">Complete</span> -->
                                {% else %}
                                    <p style="font-size: 10px; margin-right: 6px;" class=" p-1 mb-1 mt-1 ml-4 mr-3 bg-danger  text-white text-center rounded">Pending</p>
                         {% endif %}

                            </td>
                            <!-- <td>{{order.delivered_time}}</td> -->
                            <td >

                                {% if order.product_cancel %}
                                <a href="{{url_for('update_orders',id=order.id)}}" class="float-left btn btn-sm btn-primary" style="pointer-events:none; opacity: 0.7">Edit</a>
                                {% else %}
                                <a href="{{url_for('update_orders',id=order.id)}}" class="float-left btn btn-sm btn-primary">Edit</a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                </div>
            </div>

        </div>
    </section>
    <!-- ########## END: MAIN PANEL ########## -->
{% endblock content %}

{% block scripts %}
<script src="assets/scripts/jquery.min.js"></script>
<script src="assets/scripts/popper.min.js"></script>
<script src="assets/scripts/bootstrap-slider.min.js"></script>
<script src="assets/scripts/bootstrap.min.js"></script>
<script src="assets/scripts/bootstrap.bundle.min.js"></script>
<script src="assets/scripts/bootstrap-select.min.js"></script>
<script src="assets/scripts/bootstrap-tooltip-custom-class.js"></script>
<script src="assets/scripts/jquery.mCustomScrollbar.js"></script>
<script src="assets/scripts/datatables.min.js"></script>
<script src="assets/scripts/ripple.min.js"></script>
<script src="assets/scripts/custome.js"></script>
<script src="{{url_for('static', filename='assets/scripts/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap-slider.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap-select.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap-tooltip-custom-class.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/jquery.mCustomScrollbar.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/datatables.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/ripple.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/custome.js')}}"></script>

{% endblock scripts %}
