{% extends "admin/layout.html" %}

{% block head %}


    <title>Update Profile | Swap</title>

    <!-- Core Css -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/datatables.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/line-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/jquery.mCustomScrollbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap-select.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap-slider.css')}}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.min.css')}}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock head %}

{% block content %}

    <!-- ########## START: MAIN PANEL ########## -->
    <section class="mainpanel">
        <div class="pagebody">
            <!----======= Start UI elememnts =======---->
            <!--             <div class="pagetitle">
                <h4>UI elememnts</h4>

                    <ul class="buuton-group mt-3">
                       <li><button type="button" class="btn btn-secondary waves-effect waves-light">All Product</button>
                        </li>
                         <li><button type="button" class="btn btn-secondary waves-effect waves-light">Bands</button>
                        </li>
                         <li><button type="button" class="btn btn-secondary waves-effect waves-light">Categories</button>
                        </li>

                    </ul>


            </div> -->
            <!-- Start Radio Button -->

            <div class="card mb-5 mt-4">
                 {% include "_messages.html" %}
                 
                <div class="card-header py-4">

                <h4 class="text-secondary font-weight-bold mb-0 mt-1
                     ml-3">Update Profile
                </h4>
                </div>
            </div>

            
            <div class="card mb-3 mt-3">
               
                <div class="card-header py-4">

                <h5 class="text-secondary font-weight-bold mb-0 mt-1
                     ml-2">Change Image
                </h5>

                </div>

                <div class="card-body">
                    <ul class="button-group">

                        <form action="" method="POST" enctype="multipart/form-data">
                        <li>
                            <input type="file" name="update_photo" required style="color: #E1DEDE;">
                        </li>

                        <li><button type="submit" class="btn btn-success waves-effect waves-primary btn-sm">Update</button></li>
                    </form>
                    </ul>

                      </div>
                </div>


                <div class="card mb-3 mt-3">
                <div class="card-header py-4">

                <h5 class="text-secondary font-weight-bold mb-0 mt-1
                     ml-2">Change Name
                </h5>

                </div>

                <div class="card-body">
                    <ul class="button-group">

<!--                         <li>
                            <h5 class="title">Name</h5>
                        </li> -->


                        <form action="" method="POST" enctype="multipart/form-data">
                        

                        
                        <li>
                            <input type="text" name="update_name" class="form-control" placeholder="New Name" style="width: 310px;background-color: #E1DEDE;" required>
                        </li>

                        <li><button type="submit" class="btn btn-success waves-effect waves-primary mt-3 btn-sm">Update</button></li>


                        </form>


                    </ul>

                      </div>
                </div>


                <div class="card mb-3 mt-3">
                <div class="card-header py-4">

                <h5 class="text-secondary font-weight-bold mb-0 mt-1
                     ml-2">Change Email
                </h5>

                </div>

                <div class="card-body">
                    <ul class="button-group">

<!--                         <li>
                            <h5 class="title">Name</h5>
                        </li> -->
                        <form action="" method="POST" enctype="multipart/form-data">
                        <li>
                            <input type="email" name="update_email" class="form-control" placeholder="New Email" style="width: 310px;background-color: #E1DEDE;" required>
                        </li>

                        <li><button type="submit" class="btn btn-success waves-effect waves-primary mt-3 btn-sm">Update</button></li>
                    </form>
                    </ul>

                      </div>
                </div>



                <div class="card mb-3 mt-3">
                <div class="card-header py-4">

                <h5 class="text-secondary font-weight-bold mb-0 mt-1
                     ml-2">Change Password
                </h5>

                </div>

                <div class="card-body">
                    <ul class="button-group">

<!--                         <li>
                            <h5 class="title">Name</h5>
                        </li> -->

                        <form action="" method="POST" enctype="multipart/form-data">

                        <li>
                            <input type="password" id="update_password" name="update_password" class="form-control" placeholder="New Password" style="width: 310px;background-color: #E1DEDE; " onkeyup='check()' required>
                        </li>


                        <li>
                            <input type="password" id="update_confirm_password" name="update_confirm_password" class="form-control mt-1" placeholder="Confirm Password" style="width: 310px;background-color: #E1DEDE;" 
                            onkeyup='check()' required>
                            
                        </li>
                        <!-- <li><span id='message' class="form-control"></span></li> -->


                        <li><button id="submit" type="submit" class="btn btn-success waves-effect waves-primary mt-3 btn-sm">Update</button></li>

                    </form>
                    </ul>

                      </div>
                </div>



            </div>
            <!-- End Radio Button -->
            <!-- Start Checkbox Button -->
<!--             <div class="pagetitle">
                <h4>Change Image</h4>
            </div> -->


        </div>
    </section>
    <hr><hr>


<script type="text/javascript">
    
 var check = function() {
      if (document.getElementById('update_password').value ==
          document.getElementById('update_confirm_password').value) {
          document.getElementById('submit').disabled = false;
      } else {
        
          document.getElementById('submit').disabled = true;
      }
  }

</script>

{% endblock content %}

{% block scripts %}

<script src="assets/scripts/jquery.min.js"></script>
<script src="assets/scripts/popper.min.js"></script>
<script src="assets/scripts/bootstrap-slider.min.js"></script>
<script src="assets/scripts/bootstrap.min.js"></script>
<script src="assets/scripts/bootstrap.bundle.min.js"></script>
<script src="assets/scripts/bootstrap-select.min.js"></script>
<script src="assets/scripts/bootstrap-tooltip-custom-class.js"></script>
<script src="assets/scripts/jquery.mCustomScrollbar.js"></script>
<script src="assets/scripts/datatables.min.js"></script>
<script src="assets/scripts/ripple.min.js"></script>
<script src="assets/scripts/custome.js"></script>
<script src="{{url_for('static', filename='assets/scripts/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap-slider.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap-select.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap-tooltip-custom-class.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/jquery.mCustomScrollbar.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/datatables.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/ripple.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/custome.js')}}"></script>

{% endblock scripts %}
