{% extends "admin/layout.html" %}

{% block head %}



    <title>Update Order | Swap</title>
   
    <!-- Core Css -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/datatables.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/line-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/jquery.mCustomScrollbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap-select.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap-slider.css')}}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.min.css')}}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock head %}




{% block content %}

    <!-- ########## START: MAIN PANEL ########## -->
    <section class="mainpanel">
        <div class="pagebody">
            <!----======= Start UI elememnts =======---->
            <!--             <div class="pagetitle">
                <h4>UI elememnts</h4>

                    <ul class="buuton-group mt-3">
                       <li><button type="button" class="btn btn-secondary waves-effect waves-light">All Product</button>
                        </li>
                         <li><button type="button" class="btn btn-secondary waves-effect waves-light">Bands</button>
                        </li>
                         <li><button type="button" class="btn btn-secondary waves-effect waves-light">Categories</button>
                        </li>

                    </ul>


            </div> -->
            <!-- Start Radio Button -->
            <div class="card mb-5 mt-4">
                 {% include "_messages.html" %}
                <div class="card-header py-4">

                <h4 class="text-secondary font-weight-bold mb-0 mt-1
                     ml-3">Confirm Orders
                </h4>
                </div>
            </div>
            <!-- End Radio Button -->
            <!-- Start Checkbox Button -->
            <div class="card mb-5 mt-4">

                <div class="card-body">

                {% if orders %}

  
                        <h5 style="font-size: 17px;">#Invoice : {{orders.invoice}}</h5>
                        <h5 style="font-size: 17px;">Buyer Name : {{orders.customer_name}}</h5>
                        <h5 style="font-size: 17px;">Product Name : {{orders.product_name}}</h5>
                        <h5 style="font-size: 17px;">Quantity : {{orders.product_quantity}}</h5>
                        <h5 style="font-size: 17px;">Contact : {{orders.contact}}</h5>
                        <h5 style="font-size: 17px;">Address : {{orders.zipcode}},{{orders.city}},
                                {{orders.country}}</h5>
                        <h5 style="font-size: 17px;">Status : {{orders.status}}</h5>
                        <h5 style="font-size: 17px;">Payment Method: {{orders.payment_method}} </h5>
                        <h5 style="font-size: 17px;">Ordered : {{orders.order_date}}</h5>
                
                       
                        <ul class="buuton-group mt-3">
                        <form action="{{url_for('update_orders',id=orders.id)}}" method="POST">
                        <li><button type="submit" class="btn btn-primary waves-effect waves-primary">
                                Make delivered
                        </button>
                        </li>
                        </form>

                        <li>
                           <button type="button" class="btn btn-danger waves-effect waves-red">
                            <a style="color: white;"  href="{{url_for('dashboard_orders')}}">
                                Make undelivered
                            </a>
                        </button>
                        </li>
                    </ul>
                    
                {% endif %}
                </div>
            </div>

        </div>
    </section>
    <hr><hr>
    
    <!-- ########## END: MAIN PANEL ########## -->
{% endblock content %}


{% block scripts %}

<script src="assets/scripts/jquery.min.js"></script>
<script src="assets/scripts/popper.min.js"></script>
<script src="assets/scripts/bootstrap-slider.min.js"></script>
<script src="assets/scripts/bootstrap.min.js"></script>
<script src="assets/scripts/bootstrap.bundle.min.js"></script>
<script src="assets/scripts/bootstrap-select.min.js"></script>
<script src="assets/scripts/bootstrap-tooltip-custom-class.js"></script>
<script src="assets/scripts/jquery.mCustomScrollbar.js"></script>
<script src="assets/scripts/datatables.min.js"></script>
<script src="assets/scripts/ripple.min.js"></script>
<script src="assets/scripts/custome.js"></script>
<script src="{{url_for('static', filename='assets/scripts/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap-slider.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap-select.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap-tooltip-custom-class.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/jquery.mCustomScrollbar.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/datatables.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/ripple.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/custome.js')}}"></script>

{% endblock scripts %}