{% extends "admin/layout.html" %}

{% from "_formhelpers.html" import render_field %}

{% block head %}


    <title>Add Product | Swap</title>

    <!-- Core Css -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/datatables.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/line-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/jquery.mCustomScrollbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap-select.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap-slider.css')}}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.min.css')}}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock head %}

{% block content %}

    <!-- ########## START: MAIN PANEL ########## -->
    <section class="mainpanel">
        <div class="pagebody">
            <!----======= Start UI elememnts =======---->
            <!--             <div class="pagetitle">
                <h4>UI elememnts</h4>

                    <ul class="buuton-group mt-3">
                       <li><button type="button" class="btn btn-secondary waves-effect waves-light">All Product</button>
                        </li>
                         <li><button type="button" class="btn btn-secondary waves-effect waves-light">Bands</button>
                        </li>
                         <li><button type="button" class="btn btn-secondary waves-effect waves-light">Categories</button>
                        </li>

                    </ul>


            </div> -->
            <!-- Start Radio Button -->

            <div class="card mb-5 mt-4">
                 {% include "_messages.html" %}
                 
                <div class="card-header py-4">

                <h4 class="text-secondary font-weight-bold mb-0 mt-1
                     ml-3">Add Product
                </h4>
                </div>
            </div>

         <form action="" method="POST" enctype="multipart/form-data" style="color: white;">
            <div class="card mb-3 mt-3">

                <div class="card-body" style="color: black;">
                    <ul class="button-group">


                     {{ render_field(form.name, class="form-control", placeholder="Product Name",style="color: black; background-color: #E1DEDE; width: 310px;") }}


                    </ul>

                      </div>
            </div>



            <div class="card mb-3 mt-3">

                <div class="card-body" style="color: black;">
                    <ul class="button-group">


        {{ render_field(form.price, class="form-control", placeholder="Add product price",style="color: black; background-color: #E1DEDE;width: 310px;")}}


                    </ul>

                      </div>
            </div>


            <div class="card mb-3 mt-3">

                <div class="card-body" style="color: black;">
                    <ul class="button-group">


        {{ render_field(form.discount, class="form-control", placeholder="Add product discount" ,style="color: black; background-color: #E1DEDE;width: 310px;")}}


                    </ul>

                      </div>
            </div>



            <div class="card mb-3 mt-3">

                <div class="card-body" style="color: black;">
                    <ul class="button-group" style="width: 220px;">

<li>
        <label for="apparel" style="color: black;">Add a apparel</label>
        <select name="apparel" id="apparel" class="selectpicker" required style="color: black; background-color: #E1DEDE;">
            <option value="">Select A apparel</option>
            {% for apparel in apparels %}
            <option value="{{apparel.id}}">{{apparel.name}}</option>
            {% endfor %}
        </select>
</li>

                    </ul>

                      </div>
            </div>





            <div class="card mb-3 mt-3">

                <div class="card-body" style="color: black;">
                    <ul class="button-group" >


        {{ render_field(form.stock, class="form-control", placeholder="Add product stock",style="color: black; background-color: #E1DEDE;width: 310px;")}}


                    </ul>

                      </div>
            </div>


            <div class="card mb-3 mt-3">

                <div class="card-body" style="color: black;">
                    <ul class="button-group" style="width: 220px;">

<li>
        <label for="category" style="color: black;">Add a category</label>
        <select name="category" id="category" class="selectpicker" required style="color: black; background-color: #E1DEDE;">
            <option value="">Select A category</option>
            {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select>
</li>
                    </ul>

                      </div>
            </div>


            <div class="card mb-3 mt-3">

                <div class="card-body" style="color: black;">
                    <ul class="button-group">


        {{ render_field(form.sizes, class="form-control", placeholder="Add product sizes",style="color: black; background-color: #E1DEDE;width: 310px;")}}


                    </ul>

                      </div>
            </div>


            <div class="card mb-3 mt-3">

                <div class="card-body" style="color: black;">
                    <ul class="button-group">


        {{ render_field(form.discription, class="form-control", placeholder="Add product detail",rows="10",style="color: black; background-color: #E1DEDE;")}}


                    </ul>

                      </div>
            </div>


            <div class="card mb-3 mt-3">

                <div class="card-body" style="color: black;">
                    <ul class="button-group">


                {{ render_field(form.image_1, class="form-control")}}
                {{ render_field(form.image_2, class="form-control")}}
                {{ render_field(form.image_3, class="form-control")}}


                    </ul>

                      </div>
            </div>




            <div class="card mb-3 mt-3">

                <h5 class="text-secondary font-weight-bold mb-3 mt-3
                     ml-2"> <button type="submit" class="btn btn-success waves-effect waves-primary">Submit</button>
                </h5>
            </div>

        </form>
            </div>

        </div>
    </section>

    <hr><hr>

<script type="text/javascript">
    
 var check = function() {
      if (document.getElementById('update_password').value ==
          document.getElementById('update_confirm_password').value) {
          document.getElementById('submit').disabled = false;
      } else {
        
          document.getElementById('submit').disabled = true;
      }
  }

</script>

{% endblock content %}

{% block scripts %}

<script src="assets/scripts/jquery.min.js"></script>
<script src="assets/scripts/popper.min.js"></script>
<script src="assets/scripts/bootstrap-slider.min.js"></script>
<script src="assets/scripts/bootstrap.min.js"></script>
<script src="assets/scripts/bootstrap.bundle.min.js"></script>
<script src="assets/scripts/bootstrap-select.min.js"></script>
<script src="assets/scripts/bootstrap-tooltip-custom-class.js"></script>
<script src="assets/scripts/jquery.mCustomScrollbar.js"></script>
<script src="assets/scripts/datatables.min.js"></script>
<script src="assets/scripts/ripple.min.js"></script>
<script src="assets/scripts/custome.js"></script>
<script src="{{url_for('static', filename='assets/scripts/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap-slider.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap-select.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap-tooltip-custom-class.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/jquery.mCustomScrollbar.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/datatables.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/ripple.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/custome.js')}}"></script>

{% endblock scripts %}
