{% extends 'layout.html' %}

{% block content %}


{% include 'navbar.html' %}

<div class="container mt-5">


  <div class="row">

    <div class="col mt-4" id="b_image">

            <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" width="400" height="400">
    </div>

    <div class="col">

    {% if product.discount > 0 %}
    {% set new_dis = "%0.2f" | format((product.price |float)-(product.discount/100)*product.price|float) %}
    <h3 class="mb-3" style="color: white;">{{product.name}}</h3>
    <h5 style="color: white; font-size: 20px;"> ${{new_dis}}</h5> 
    <p style="color: white;"><strike>${{product.price}}</strike> ({{product.discount}}% OFF)</p>
    {% else %}
    <h3 class="mb-3" style="color: white; font-size: 19px;">{{product.name}}</h3>
    <h5 style="color: white; font-size: 20px;">Price ${{product.price}}</h5>
    {% endif %}
      <form action="{{url_for('AddCart')}}" method="POST">
        <input type="hidden" name="product_id" value="{{product.id}}">
        <label for="" style="color: white;">Quantity:</label>
        <br>
        <input class="form-control" style="width: 120px;" type="number" name="quantity" id="" value="1" min="1" max="{{product.stock}}">

        {% set sizes=product.sizes.split(',') %}
        <label for="sizes" style="color: white; margin-top: 4px;">Sizes:</label>
        <select class="form-control" style="width: 120px;" name="sizes" id="sizes" >
          {% for size in sizes %}
          {% set col=size.split(':') %}
          <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
          {% endfor %}
        </select>
        <br>
        <button type="submit" class="btn btn-black border border-light mt-1" style="font-size: 20px; color: white;"><i class="fa fa-shopping-cart" style="font-size: 24px; color: white;" aria-hidden="true"></i>  ADD TO CART</button>
        <hr>
          <b style="color: white;">Details:</b>
        <p style="color: white; margin-top: 3px;">{{product.desc}}</p>

      </form>

    </div>


    <div class="w-100"></div>

    <div class="col mb-3" id="s_image">
      <img id="s_image_1" src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" width="160" height="160" class="p-3" style="margin-right:4px;">
      <img id="s_image_2" src="{{url_for('static', filename='images/' + product.image_2)}}" alt="{{product.name}}" width="160" height="160" class="p-3" style="margin-right:4px;">
      <img id="s_image_3" src="{{url_for('static', filename='images/' + product.image_3)}}" alt="{{product.name}}" width="160" height="160" class="p-3" style="margin-right:0;">
    </div>
    <div class="col item social mt-2">

    <a href="#"><i class="icon ion-social-facebook" style='font-size:30px; margin-left: 8px; opacity: 0.5;' ></i></a><a href="#"><i style='font-size:30px; margin-left: 8px; opacity: 0.5;' class="icon ion-social-twitter"></i></a><a href="#"><i style='font-size:30px; margin-left: 8px; opacity: 0.5;' class="icon ion-social-pinterest"></i></a>

    </div>

  </div>






<hr style=" border-top: 1px solid #696969;">

	<div class="row mt-3">
		<h3 class="ml-3" style="color: white;">You May Also Like</h3>
	</div>
    <div class="row mt-3">
		{% for product in products %}

		{% if product.id != product_id %}
       <div class="col-md-3 mt-3">
	   <div class="card border border-dark" style="background-color: black;">
		<img src="{{url_for('static',filename='images/'+product.image_1)}}" alt="{{product.name}}" class="card-img-top" style="background-color: black;" height="240">
		<div class="card-body " style="background-color: black; height: 6rem;">
			{% if product.discount > 0 %}
			{% set new_dis = "%0.2f" | format((product.price |float)-(product.discount/100)*product.price|float) %}
			<h5 class="text-center" style="color: white; font-size: 15px; margin-top: 11px; margin-bottom: 2px;">{{product.name}}</h5>
			<h5 class="text-center" style="color: green; font-size: 12px; margin-top: 6px;"> ${{new_dis}}</h5> 
			<p class="text-center" style="color: white; font-size: 12px;">Price: <strike>${{product.price}}</strike> ({{product.discount}}% OFF)</p>
			{% else %}
			<h5 class="text-center" style="color: white;">{{product.name}}</h5>
			<p class="text-center" style="color: white;">Price ${{product.price}}</p>
			{% endif %}
		</div>
		<div class="card-footer" style="background-color: black; height: 3.5rem;">
			<input type="hidden" value="{{product.name}}">
			<a href="{{url_for('product_detail',id=product.id)}}" class="float-left btn btn-sm btn-dark">Details</a>
		<form action="{{url_for('AddCart')}}" method="POST">
		<input type="hidden" name="product_id" value="{{product.id}}">
		<button type="submit" class="btn btn-sm btn-dark float-right">Add Cart</button>
		
		<input type="hidden" name="quantity" id="" value="1">

<!-- 		{% set sizes=product.sizes.split(',') %}
		
		<select name="sizes" id="sizes" style="visibility: hidden;">
			{% for color in sizes %}
			{% set col=color.split(':') %}
			<option value="{{col[0]}}">{{col[0]|capitalize}}</option>
			{% endfor %}
		</select> -->
	</form>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
<hr><hr>

<script type="text/javascript">
	
	var b_image=document.getElementById('b_image')
	var s_image=document.getElementById('s_image').getElementsByTagName('img')

	var img_1=document.getElementById("s_image_1")
	var img_2=document.getElementById("s_image_2")
	var img_3=document.getElementById("s_image_3")



	for(var i=0; i<s_image.length; i++)
	{
		// console.log(s_image[i]);
		s_image[i].addEventListener('click',full_image);
		//alert(s_image[i]);
		//alert(img_1.src)


	}

	function reload() {
    reload = location.reload();
	}

	function full_image(){


			var ImageSRC=this.getAttribute('src');
			b_image.innerHTML="<img src="+ImageSRC+" width='400' height='400' >";
			var img_src=s_image.getAttribute('src');
				// alert(img_src)
				img_1.innerHTML=s_image[0].src;
				img_2.innerHTML=s_image[1].src;
				img_3.innerHTML=s_image[2].src;

		}


</script>

{% include 'footer.html' %}

{% endblock content %}