{% extends "admin/layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block head %}


    <title> Upload Slider Images | Swap</title>

    <!-- Core Css -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/datatables.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/line-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/jquery.mCustomScrollbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap-select.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap-slider.css')}}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.min.css')}}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock head %}

{% block content %}

    <!-- ########## START: MAIN PANEL ########## -->
    <section class="mainpanel">
        <div class="pagebody">
            <!----======= Start UI elememnts =======---->
            <!--             <div class="pagetitle">
                <h4>UI elememnts</h4>

                    <ul class="buuton-group mt-3">
                       <li><button type="button" class="btn btn-secondary waves-effect waves-light">All Product</button>
                        </li>
                         <li><button type="button" class="btn btn-secondary waves-effect waves-light">Bands</button>
                        </li>
                         <li><button type="button" class="btn btn-secondary waves-effect waves-light">Categories</button>
                        </li>

                    </ul>


            </div> -->
            <!-- Start Radio Button -->

            <div class="card mb-5 mt-4">
                 {% include "_messages.html" %}
                 
                <div class="card-header py-4">

                <h4 class="text-secondary font-weight-bold mb-3 mt-3
                     ml-3">Upload Slide Images
                </h4>

                </div>
            </div>

<!--             <div class="card ">

                <div class="card-body" style="color: black;">
                    <ul class="button-group">

            <div class="card ">
               
                <div class="card-header py-4">

                <h5 class="text-secondary font-weight-bold mb-3 mt-3
                     ml-4">Image 1
                </h5>

                </div>

                <div class="card-body">
                    <ul class="button-group">

                        <form action="" method="POST" enctype="multipart/form-data">
                        <li>
                            <input type="file" name="slide_image_1" required style="color: #E1DEDE;">
                        </li>

                        <li><button type="submit" class="btn btn-success waves-effect waves-primary btn-sm">Update</button></li>
                    </form>
                    </ul>

                      </div>
                </div>




                    </ul>

                      </div>
            </div>


            <div class="card ">

                <div class="card-body" style="color: black;">
                    <ul class="button-group">

            <div class="card ">
               
                <div class="card-header py-4">

                <h5 class="text-secondary font-weight-bold mb-3 mt-3
                     ml-4">Image 2
                </h5>

                </div>

                <div class="card-body">
                    <ul class="button-group">

                        <form action="" method="POST" enctype="multipart/form-data">
                        <li>
                            <input type="file" name="slide_image_2" required style="color: #E1DEDE;">
                        </li>

                        <li><button type="submit" class="btn btn-success waves-effect waves-primary btn-sm">Update</button></li>
                    </form>
                    </ul>

                      </div>
                </div>




                    </ul>

                      </div>
            </div>



            <div class="card ">

                <div class="card-body" style="color: black;">
                    <ul class="button-group">

            <div class="card ">
               
                <div class="card-header py-4">

                <h5 class="text-secondary font-weight-bold mb-3 mt-3
                     ml-4">Image 3
                </h5>

                </div>

                <div class="card-body">
                    <ul class="button-group">

                        <form action="" method="POST" enctype="multipart/form-data">
                        <li>
                            <input type="file" name="slide_image_3" required style="color: #E1DEDE;">
                        </li>

                        <li><button type="submit" class="btn btn-success waves-effect waves-primary btn-sm">Update</button></li>
                    </form>
                    </ul>

                      </div>
                </div>




                    </ul>

                      </div>
            </div> -->


         <form action="" method="POST" enctype="multipart/form-data" style="color: white;">

            <div class="card mb-3 mt-3">

                <div class="card-body" style="color: black;">
                    <ul class="button-group">


        <div class="col-md-4">
        <h5 class="text-secondary font-weight-bold mb-1 mt-3
               ml-4">Image 1
          </h5>
          <input type="file" name="slide_image_1" required class="form-control">
        </div> 
        <div class="col-md-4">
                <h5 class="text-secondary font-weight-bold mb-1 mt-3
                     ml-4">Image 2
                </h5>
          <input type="file" name="slide_image_2" required class="form-control">
        </div>
        <div class="col-md-4">
                <h5 class="text-secondary font-weight-bold mb-1 mt-3
                     ml-4">Image 3
                </h5>
          <input type="file" name="slide_image_3" required class="form-control">
        </div>


                    </ul>

                      </div>
            </div>




            <div class="card mb-3 mt-3 ">

                <h5 class="text-secondary font-weight-bold mb-3 mt-3
                     ml-4"> <button type="submit" class="btn btn-success waves-effect waves-primary ml-3"> Update</button>
                </h5>
            </div>

        </form>





            </div>

        </div>
    </section>
    <hr><hr>    <hr><hr>


<script type="text/javascript">
    
 var check = function() {
      if (document.getElementById('update_password').value ==
          document.getElementById('update_confirm_password').value) {
          document.getElementById('submit').disabled = false;
      } else {
        
          document.getElementById('submit').disabled = true;
      }
  }

</script>

{% endblock content %}

{% block scripts %}

<script src="assets/scripts/jquery.min.js"></script>
<script src="assets/scripts/popper.min.js"></script>
<script src="assets/scripts/bootstrap-slider.min.js"></script>
<script src="assets/scripts/bootstrap.min.js"></script>
<script src="assets/scripts/bootstrap.bundle.min.js"></script>
<script src="assets/scripts/bootstrap-select.min.js"></script>
<script src="assets/scripts/bootstrap-tooltip-custom-class.js"></script>
<script src="assets/scripts/jquery.mCustomScrollbar.js"></script>
<script src="assets/scripts/datatables.min.js"></script>
<script src="assets/scripts/ripple.min.js"></script>
<script src="assets/scripts/custome.js"></script>
<script src="{{url_for('static', filename='assets/scripts/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap-slider.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap-select.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/bootstrap-tooltip-custom-class.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/jquery.mCustomScrollbar.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/datatables.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/ripple.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/scripts/custome.js')}}"></script>

{% endblock scripts %}
