
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Download PDF</title>
  </head>
  <body>



<div class="container mt-4">





    <div class="row">


        <div class="col-md-12">
            
            <div class="col-mt-3 mb-3">
                <p style="font-size: 28px;"> <b>Purchase Details</b></p>
            </div>
            

        </div>

    </div>

    <hr style="color: black; font-size: 35px;">

        <div class="row">
        <div class="col-md-12">
            
            <div class="col-mt-3 mb-3">
                <p>Invoice: <b>{{orders.invoice}}</b> </p>
                <p>Status: <b>{{orders.status}}</b></p>
                <p>Customer Name: <b>{{customer.name}}</b></p>
                <p>Customer Email: <b>{{customer.email}}</b></p>
                <p>Customer Contact: <b>{{customer.contact}}</b></p>
            </div>

        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Name</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
            </thead>
            <tbody>
                {% for key, product in orders.orders.items() %}
                {% set discount = "%0.2f" | format((product.discount/100)*product.price|float) %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{product.name}}</td>
                    <form action="{{url_for('updatecart',code=key)}}" method="POST">
                    <td>
                        {{product.size|capitalize}}
                    </td>
                    <td>${{product.price}}</td>
                    <td>{{product.quantity}}</td>

                    {% if product.discount %}
                    <td>{{product.discount}}% &nbsp; is {{discount}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% set subtotal =product.quantity|int * product.price|float %}
                    <td>{{"%0.2f"|format((subtotal|float)-discount|float)}}</td>
                    </form>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-sm">
            <tbody>
                <tr>
                    <td width="35%"></td>
                    <td colspan="3"><h5>Tax : ${{tax}}</h5> </td>
                    <td colspan="4"><h5>Grand Total: ${{grandTotal}}</h5></td>
                </tr>
            </tbody>
        </table>

        </div>
    </div>

    <hr style="color: black; font-size: 35px;">


        <div class="row">


        <div class="col-md-12">
            
            <div class="col-mt-3 mb-3">
                <p style="font-size: 20px;"><b>Thank you for shopping with us.</b></p>
                <p style="font-size: 20px;"> <b>Swap Inc.</b></p>
            </div>
            

        </div>

    </div>







</div>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>


